* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  background-image: url('Assets/home-background-image.png'); /* Update the path as necessary */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */
  background-color: #f6f6f6; /* Fallback color */
}

body {
  background-color: #f6f6f6;
}
/* styles.css or your CSS file */

nav {
  position: fixed; /* Fixes the navbar to the top of the viewport */
  top: 0; /* Aligns it to the top of the viewport */
  left: 0; /* Aligns it to the left side of the viewport */
  width: 100%; /* Makes the navbar span the full width of the viewport */
  min-height: 60px; /* Sets the minimum height of the navbar */
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out items */
  background-color: #fff; /* Background color (adjust as needed) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for visual separation */
  z-index: 1000; /* Ensures it stays above other content */
  padding: 0 1rem; /* Padding on the left and right */
}

.nav-logo-container img {
  height: 40px; /* Adjust the logo size as needed */
}

.navbar-links-container {
  display: flex; /* Use flexbox for links */
  align-items: center; /* Center links vertically */
}

.navbar-links-container a {
  margin-right: 3rem; /* Space between links */
  text-decoration: none; /* Remove underline */
  color: black; /* Link color */
  font-size: 1.1rem; /* Font size */
  font-weight: 600; /* Font weight */
}

.navbar-links-container a:hover {
  text-decoration: underline; /* Underline on hover */
}

.navbar-menu-container {
  display: none; /* Hide menu button on large screens */
}

/* Responsive design for mobile view */
@media (max-width: 768px) {
  .navbar-links-container {
    display: none; /* Hide links on small screens */
  }
  
  .navbar-menu-container {
    display: block; /* Show menu button on small screens */
  }
}

/* Style adjustments for the drawer menu */
.MuiDrawer-paper {
  width: 250px; /* Width of the drawer menu */
}

/* Padding to prevent overlap with fixed navbar */
.content {
  padding-top: 90px; /* Same as navbar height to avoid overlap */
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.navbar-cart-icon {
  font-size: 1.15rem;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}
.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}
.home-image-section {
  max-width: 600px;
  flex: 1;
}
.home-text-section {
  flex: 1;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #f5f6f4;
  /* line-height: 5rem; */
  max-width: 600px;
}

.work-bottom-text {
  font-size: clamp(1rem, 3vw, 1.5rem); /* Responsive font size */
  color: #f9f6f6;
  margin: 1rem 0;
  font-weight: 100;
  text-align: center;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem); /* Responsive font size */
  max-width: 500px; /* Maximum width of the text container */
  color: #fdfbfb; /* White text color */
  margin: 1.5rem 0; /* Margin for spacing */
  font-weight: 300; /* Thinner font weight (adjust as needed) */
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #e48f0f;
}

.about-section-container {
  margin-top: 15rem; /* Adjust as needed */
  position: relative;
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space items across the container */
  width: 100vw;
  padding: 0 1rem; /* Optional: Add horizontal padding */
}

.primary-heading-about {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #f5f6f4;
  /* line-height: 5rem; */
  max-width: 5000px;
  text-align: center;
}
.primary-text-about {
  font-size: clamp(1rem, 3vw, 1.5rem); /* Responsive font size */
  max-width: 5000px; /* Maximum width of the text container */
  color: #fdfbfb; /* White text color */
  margin: 1.5rem 0; /* Margin for spacing */
  font-weight: 100; /* Thinner font weight (adjust as needed) */
  text-align: center;
}

.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}
.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}

.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.home-banner-container,
/* .about-section-container {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
} */
/*
.about-section-container {
  flex-direction: column;
}
.home-image-section,
.about-section-image-container {
  width: 100%;
  max-width: 4
  00px;
}
.about-section-text-container {
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.about-section-container {
  margin-top: 5rem !important;
}
.about-buttons-container {
  justify-content: center;
  flex-direction: column;
}
.about-section-image-container {
  margin-right: 0rem !important;
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
} */
.primary-subheading {
  position: relative;
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
  text-align: center;
}
.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}
.watch-video-button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}
.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}
.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
}
.contact-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
.footer-wrapper {
  margin: 6rem 0rem;
  display: flex;
  margin-top: 10rem;
}
.footer-logo-container {
  max-width: 110px;
}
.footer-icons {
  margin-top: 2.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #585858;
}
/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #4c4c4c;
  cursor: pointer;
}
.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}
.testimonial-section-bottom {
  margin: 2rem auto;
}
.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}
.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}
.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}
.work-section-wrapper {
  margin-top: 15rem;
}
.work-section-top p {
  text-align: center;
  max-width: 600px !important;
}
.work-section-top h1 {
  max-width: 700px !important;
}
.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-section-info {
  width: 290px;
  min-height: 350px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}
.work-section-info h2 {
  margin: 1rem 0rem;
}
.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}

html {
  scroll-behavior: smooth;
}

.nav-logo-container {
  max-width: 50px; /* Set the maximum width of the logo container */
  overflow: hidden; /* Hide any overflow to prevent stretching */
}

.nav-logo-container img {
  max-width: 100%; /* Scale down the image if necessary */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any extra space around the image */
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 150px; /* Set the maximum width of the logo container */
    overflow: hidden; /* Hide any overflow to prevent stretching */
  }
  
  .nav-logo-container img {
    max-width: 100%; /* Scale down the image if necessary */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any extra space around the image */
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 95vw;
  }
}